@{
    ViewData["Title"] = "Orders";
}
<h1>@ViewData["Title"]</h1>
@model ServerSidePagination.Models.ViewModel.SearchVM;
<form id="form" asp-action="OrderList"  method="POST" >
    <input type="number" asp-for="Id" />
    <select asp-items="@ViewBag.StatusList"></select>
    <button onclick="Search()">Search</button>
</form>


<table id="orderTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Total</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Total</th>
                <th>Created On</th>
            </tr>
        </tfoot>
    </table>

@section Scripts{
    <script>

        window.addEventListener('load', (event) => {
            Search();
        });

        $('#form').on('submit', function (e) {
                    e.preventDefault();  
         })

        function Search(){
            //debugger;
            $('#orderTable').DataTable( {

            ajax: {
                url: '/home/orderlist',
                type: 'POST',
                data: {
                    Id : document.getElementById("Id").value,
                    Status: $("#Status").val(),
                }
            },
            "bDestroy": true,
            processing: true,
            serverSide: true,
            sort: false,
            filter: false,

            columns: [
                    { data: 'id' },
                    { data: 'status' },
                    { data: 'total' },
                    { data: 'createdonutc' }
                ]

            });
        }
    </script>
}